App_webReferences/clientServiceReference/communityService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="communityService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1741/communityService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1741/communityService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1741/communityService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IcommunityService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IcommunityService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IcommunityService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IcommunityService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IcommunityService_ReviewG_InputMessage">
    <wsdl:part name="parameters" element="tns:ReviewG" />
  </wsdl:message>
  <wsdl:message name="IcommunityService_ReviewG_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReviewGResponse" />
  </wsdl:message>
  <wsdl:message name="IcommunityService_newGrant_InputMessage">
    <wsdl:part name="parameters" element="tns:newGrant" />
  </wsdl:message>
  <wsdl:message name="IcommunityService_newGrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:newGrantResponse" />
  </wsdl:message>
  <wsdl:portType name="IcommunityService">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IcommunityService/Login" message="tns:IcommunityService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcommunityService/LoginResponse" message="tns:IcommunityService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IcommunityService/RegisterUser" message="tns:IcommunityService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcommunityService/RegisterUserResponse" message="tns:IcommunityService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReviewG">
      <wsdl:input wsaw:Action="http://tempuri.org/IcommunityService/ReviewG" message="tns:IcommunityService_ReviewG_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcommunityService/ReviewGResponse" message="tns:IcommunityService_ReviewG_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="newGrant">
      <wsdl:input wsaw:Action="http://tempuri.org/IcommunityService/newGrant" message="tns:IcommunityService_newGrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IcommunityService/newGrantResponse" message="tns:IcommunityService_newGrant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IcommunityService" type="tns:IcommunityService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IcommunityService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IcommunityService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReviewG">
      <soap:operation soapAction="http://tempuri.org/IcommunityService/ReviewG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newGrant">
      <soap:operation soapAction="http://tempuri.org/IcommunityService/newGrant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="communityService">
    <wsdl:port name="BasicHttpBinding_IcommunityService" binding="tns:BasicHttpBinding_IcommunityService">
      <soap:address location="http://localhost:1741/communityService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>